div.ingredient-group:nth-child(odd) {
  float: left;
  padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
  float: left;
  padding-right: 0;
}

div.ingredient-group {
  width: 50%;
}

.grid:after {
  content: '';
  display: table;
  clear: both;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span.validationError {
  color: red;
}

#flex-container {
  display: flex;
  flex-wrap: wrap;
}

#flex-container > .flex-item {
  flex: auto;
}

.validationError {
  color: red;
}

.validationError::before {
  content: '* ';
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(66, 15, 15);
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

body {
  margin: 0;
}

.submit {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
