<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  <body>
    <div class="topnav">
      <a th:href="@{/}">Home</a>
      <a th:href="@{/design}">Design a taco</a>
      <a th:href="@{/orders/current}">View your orders</a>
    </div>
    <h1>Welcome to ... Taco Heaven</h1>
    <img alt="Taco Cloud" src="" th:src="@{/images/TacoCloud.png}" />
  </body>
</html>
